<footer >
    <div class="container">
       <div class="row">
          <div class="col-md-4">
              <div class="full">
                 <div class="logo_footer">
                   <a href="#"><img width="210" src="../../assets/images/logo.png" alt="#" /></a>
                 </div>
                 <div class="information_f">
                   <p><strong>ADDRESS:</strong> South 24 Paraganas, West Bengal, 743336, INDIA</p>
                   <p><strong>TELEPHONE:</strong> +91 9932886910</p>
                   <p><strong>EMAIL:</strong> abirnaskar88815@gmail.com</p>
                 </div>
              </div>
          </div>
          <div class="col-md-8">
             <div class="row">
             <div class="col-md-7">
                <div class="row">
                   <div class="col-md-6">
                <div class="widget_menu">
                   <h3>Menu</h3>
                   <ul>
                      <li><a routerLink="/">Home</a></li>
                      <li><a routerLink="/aboutus">About</a></li>
                      <li><a routerLink="/products">Products</a></li>
                      <li><a routerLink="/contactus">Contact</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-md-6">
                <div class="widget_menu">
                   <h3>Account</h3>
                   <ul>
                      <li><a routerLink="">Account</a></li>
                      <li><a routerLink="">Checkout</a></li>
                      <li><a routerLink="">Login</a></li>
                      <li><a routerLink="">Register</a></li>
                      <li><a routerLink="">Shopping</a></li>
                      <li><a routerLink="">Widget</a></li>
                   </ul>
                </div>
             </div>
                </div>
             </div>     
             <div class="col-md-5">
                <div class="widget_menu">
                   <h3>Newsletter</h3>
                   <div class="information_f">
                     <p>Subscribe by our newsletter and get update protidin.</p>
                   </div>
                   <div class="form_sub">
                      <form>
                         <fieldset>
                            <div class="field">
                               <input type="email" placeholder="Enter Your Mail" name="email" />
                               <input type="submit" value="Subscribe" />
                            </div>
                         </fieldset>
                      </form>
                   </div>
                </div>
             </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- footer end -->
 <div class="cpy_">
    <p class="mx-auto">© 2021 All Rights Reserved By <a >Abir Naskar</a><br>
    
       Distributed By <a >@Abir</a>
    
    </p>
 </div>